@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Typography */

  --c-black: #151515;
  --c-light-grey: #adadad;
  --c-medium-grey: #686868;
  --c-almost-white: #fafafa;

  --f-heading-l: 80px;
  --f-heading-s: 36px;
  --f-body-s: clamp(
    0.875rem,
    0.8309859154929577rem + 0.18779342723004694vw,
    1rem
  );
  --f-body-m: clamp(
    1.125rem,
    0.9049295774647887rem + 0.9389671361502347vw,
    1.75rem
  );
  --f-button: clamp(
    1.125rem,
    0.9049295774647887rem + 0.9389671361502347vw,
    1.75rem
  );
}

@media (width <= 375px) {
  /* RESET */

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  p,
  body {
    margin: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  body {
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--f-body-s);
    height: 100vh;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 375px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 0 16px;
  }

  .cta--primary {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.5px;
    color: var(--c-black);

    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .cta--secondary {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;
    color: var(--c-medium-grey);
  }

  .cta__link {
    margin-top: 24px;
  }

  .cta__link a {
    text-decoration: none;
    padding: 12px 17px;
    border-radius: 15px;
    color: var(--c-almost-white);
    background-color: var(--c-black);
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: -0.22px;
    text-align: center;
  }

  .clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
  }

  .clients img {
    display: inline-block;
    width: 18%;
  }
}
